## Calculating Cost Function And Gradient Descent For Linear Regression.

In [424]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.preprocessing import StandardScaler

In [425]:
df = pd.read_csv('Salary_Data.csv')
x = df['YearsExperience']
y = df['Salary']

In [426]:
def hypothesis(theta0,theta1,x):
  return theta0 + theta1 * x

In [427]:
def costFunction(theta0,theta1,x,y):
  m = len(x)
  y_hat = hypothesis(theta0,theta1,x)
  cost = np.sum((y_hat - y)**2) / (2 * m)
  return cost

# For Loop Approach
# sums = 0
# for i in range(m):
#    sums += (hypothesis(theta0,theta1,x[i]) - y[i])**2
# cost = 1/(2*m) * sums

In [428]:
def computeGradients(theta0,theta1,x,y):
  m = len(x)
  y_hat = hypothesis(theta0,theta1,x)
  dtheta0 = 1/m * np.sum(y_hat-y)
  dtheta1 = 1/m * np.sum((y_hat-y)*x)
  return dtheta0,dtheta1

# For Loop Approach
# dtheta0 = 0
# dtheta1 = 0
# for i in range(m):
#   dtheta0 += (hypothesis(theta0,theta1,x[i]) - y[i])
#   dtheta1 += (hypothesis(theta0,theta1,x[i]) - y[i]) * x[i]
# dtheta0 = (1/m) * dtheta0
# dtheta1 = (1/m) * dtheta1

In [429]:

def updateParameters(theta0,theta1,dtheta0,dtheta1,alpha):
  theta0 = theta0 - alpha*dtheta0
  theta1 = theta1 - alpha*dtheta1
  return theta0,theta1

In [430]:

def GradientDescent(theta0,theta1,x,y,alpha,iterations):
  for i in range(iterations):
    if i % 100 == 0:
      print(costFunction(theta0,theta1,x,y))
    dtheta0,dtheta1 = computeGradients(theta0,theta1,x,y)
    theta0,theta1 = updateParameters(theta0,theta1,dtheta0,dtheta1,alpha)
  return theta0,theta1

In [431]:
theta0,theta1,alpha,iterations = 0,0,0.05,500
theta0,theta1 = GradientDescent(theta0,theta1,x,y,alpha,iterations)
print(f"theta0 = {theta0} and theta1 = {theta1}")

3251477635.366667
22976557.630607184
16510928.152055657
15739876.920512505
15647926.089794992
theta0 = 25674.99941832784 and theta1 = 9467.354426587459

In [432]:
print(round(r2_score(y,hypothesis(theta0,theta1,x)),3))
print(round(mean_squared_error(y,hypothesis(theta0,theta1,x)),3))

0.957
31273921.198

## Calculating Cost Function And Gradient Descent For Multi-Regression.

In [433]:
data = pd.read_csv('Real estate.csv')
data.drop('No',axis=1,inplace=True)
data.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [434]:
X = data.drop('Y house price of unit area',axis=1)
scalar = StandardScaler()
X = scalar.fit_transform(X)
Y = data['Y house price of unit area']

In [435]:
theta = np.zeros(X.shape[1])
theta0 = 0
print(theta)

[0. 0. 0. 0. 0. 0.]

In [436]:
def hypothesis(theta0,theta,X):
  return theta0 + np.dot(X,theta)

In [437]:
def costFunction(theta0,theta,X,Y):
  m = len(X)
  y_hat = hypothesis(theta0,theta,X)
  cost = np.sum((y_hat - Y)**2) / (2 * m)
  return cost

In [438]:
def computeGradients(theta0,theta,X,Y):
  m = len(X)
  y_hat = hypothesis(theta0,theta,X)
  dtheta0 = 1/m * np.sum(y_hat-Y)
  dtheta = 1/m * np.dot(X.T,(y_hat-Y))
  return dtheta0,dtheta

In [439]:
def updateParameters(theta0,theta,dtheta0,dtheta,alpha):
  theta0 = theta0 - alpha*dtheta0
  theta = theta - alpha*dtheta
  return theta0,theta

In [440]:
def GradientDescent(theta0,theta,X,Y,alpha,iterations):
  for i in range(iterations):
    if i % 100 == 0:
      print(costFunction(theta0,theta,X,Y))
    dtheta0,dtheta = computeGradients(theta0,theta,X,Y)
    theta0,theta = updateParameters(theta0,theta,dtheta0,dtheta,alpha)
  return theta0,theta

In [441]:
alpha,iterations = 0.005,1000
theta0,theta = GradientDescent(theta0,theta,X,Y,alpha,iterations)
print(f"theta0 = {theta0} and theta = {theta}")

813.5921980676329
309.9143927526898
137.76836927479107
75.33787163481738
52.39786387653542
43.919954223531946
40.761458371504006
39.565339142975866
39.09667311461983
38.90030658818431
theta0 = 37.72747422430066 and theta = [ 1.38827062 -3.04581984 -4.38556266  3.51902956  3.06992921  0.82036334]

In [442]:
print(round(r2_score(Y,hypothesis(theta0,theta,X)),3))
print(round(mean_squared_error(Y,hypothesis(theta0,theta,X)),3))

0.58
77.616